<template>
  <div>
    <div v-if="isAuthorized">
      <form @submit.prevent="updateDrug" class="reg-form">
        <div>
          <label class="form-label"> Name </label>
          <input type="text" v-model="drug.Name" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Type</label>
          <input type="text" v-model="drug.Type" class="form-control"/>
        </div>
        <div>
          <label class="form-label"> Application</label>
          <input type="text" v-model="drug.Application" class="form-control"/>
        </div>
        <div>
          <label class="form-label"> Active Substance</label>
          <input type="text" v-model="drug.ActiveSubstance" class="form-control"/>
        </div>
        <div>
          <label class="form-label"> Contradiction</label>
          <input type="text" v-model="drug.Contradiction" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-dark">Update</button>
      </form>

    </div>
    <div>

      <div v-if="error" class="alert alert-danger">
        {{ error }}

      </div>
      <div v-if="updated" class="alert alert-success">
        {{ updated }}

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      error: null,
      updated: null,
      drug: {
        "Contradiction": "",
        "Application": "",
        "ActiveSubstance": "",
        "Name": "",
        "Type": ""
      }
    }
  },
  methods: {
    async updateDrug() {
      try {
        await this.$http.post(`/auth/drug/${this.drug["DrugId"]}`, this.drug);
        this.successMessage();
      } catch (e) {
        this.errorMessage(e);
      }
    },
    async loadDrug(id) {
      try {
        const response = await this.$http.get(`/auth/drug/${id}`);
        this.drug = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },
    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    },
    successMessage() {
      this.updated = "Updated";
      setTimeout(() => {
        this.updated = null
      }, 5000);
    },

  },
  mounted() {
    //TODO input check

    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (this.isAuthorized)
      this.loadDrug(this.$route.params.id);
    else this.$router.push({name: 'home'});

  },

}

</script>

<style></style>