<template>
  <div class="container">
    <h3>{{ header }} </h3>
    <div class="row">
      <div class="col" v-for="pet in pets" :key="pet.PetId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">ID: {{ pet.PetId }}</h5>
          <h6 class="card-text">Name: {{ pet.Name }}</h6>
          <h6 class="card-text">Owner ID: {{ pet.OwnerId }}</h6>
          <router-link :to="{ name: 'getPet', params: { id: pet.PetId } } " active-class="active" tag="button"
                       class="btn btn-dark">Detail
          </router-link>
        </div>
      </div>
    </div>
    <div :hidden="this.$tokenManager.getPayload()['userRole'] === 'Customers'">
      <router-link v-if="this.$route.params.id !== undefined"
                   :to="{ name: 'createPet', params: {id: this.$route.params.id} } " active-class="active" tag="button"
                   class="btn btn-dark">New Pet
      </router-link>
      <router-link v-else :to="{ name: 'createPet' } " active-class="active" tag="button" class="btn btn-dark">New Pet
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      levelOfAuthorization: null,
      header: "",
      ownerId: null,
      pets: [],
    }
  },
  methods: {
    async initialize(id) {
      if (this.levelOfAuthorization === 10) {
        this.header = "My Pets";
        await this.loadOwnersPets();
      } else if (id !== null && this.levelOfAuthorization >= 20) {
        this.header = "Owner ID: " + id;
        await this.loadOwnersPets(id);
      } else if (this.levelOfAuthorization >= 20) {
        this.header = "All Pets";
        await this.loadAllPets();
      } else if (this.levelOfAuthorization < 10)
        await this.$router.push({name: 'home'});
    },
    async loadAllPets() {
      try {
        const response = await this.$http.get('/auth/pets');
        this.pets = response.data;
      } catch (e) {
        console.error(e);
      }
    },
    async loadOwnersPets(id) {
      if (id === undefined)
        id = parseInt(this.$tokenManager.getPayload()["userId"]);
      try {
        const response = await this.$http.get(`/auth/pets/${id}`);
        this.pets = response.data;
      } catch (e) {
        console.error(e);
      }
    }
  },
  beforeMount () {
    this.levelOfAuthorization = this.$authorization.getLevelOfAuthorization(this.$tokenManager.getPayload()["userRole"]);

    if (this.$route.params.id === undefined) {
      this.ownerId = localStorage.getItem("ownerId");
    } else {
      this.ownerId = this.$route.params.id;
      localStorage.setItem("ownerId", this.ownerId);
    }

    this.initialize(this.ownerId);
  },
  beforeDestroy() {
    localStorage.removeItem("ownerId");
  }
}


</script>

<style></style>