<template>
  <div>
    <div>
      <form @submit.prevent="createPet" class="reg-form">
        <div>
          <label class="form-label"> Name</label>
          <input type="text" v-model="pet.Name" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Date of birth</label>
          <input type="date" v-model="pet.DateOfBirth" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Owner</label>
          <select v-model="pet.OwnerId" class="form-control">
            <option v-for="owner in allOwners" :key="owner.PersonId" :value="owner.PersonId">{{ owner.Email }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-dark">Register</button>
      </form>
    </div>
    <div>
      <div v-if="error" class="alert alert-danger">
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      error: null,
      allOwners: null,
      pet: {
        Name: "",
        DateOfBirth: "",
        OwnerId: null,
      }
    }
  },
  methods: {
    async getOwners() {
      const response = await this.$http.get('/auth/owners');
      this.allOwners = response.data;

    },
    async createPet() {
      try {
        const response = await this.$http.post('/auth/pet', this.pet);
        this.pet = response.data;
        await this.$router.push(`/pet/${this.pet.PetId}`);
      } catch (e) {
        console.error(e);
      }
    },
    async authorization(role) {
      if (this.$authorization.authorizationLevel20(role)) return true;
      else await this.$router.push({name: 'home'});
    },
    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    }

  },
  mounted() {
    this.authorization(this.$tokenManager.getPayload()["userRole"]);

    this.getOwners();

    if (this.$route.params.id === undefined) {
      this.pet.OwnerId = localStorage.getItem("ownerId");
    } else {
      this.pet.OwnerId = this.$route.params.id;
      localStorage.setItem("ownerId", this.pet.OwnerId);
    }
  }, beforeDestroy() {
    localStorage.removeItem("ownerId");
  }

}

</script>

<style></style>