<template>
  <div>
    <div v-if="pet !== null">
      <form @submit.prevent="doUpdate" class="reg-form">
        <fieldset :disabled="this.$tokenManager.getPayload()['userRole'] === 'Customers'">
          <div>
            <label class="form-label"> Name</label>
            <input type="text" v-model="pet.Name" class="form-control" required minlength="3"/>
          </div>
          <div>
            <label class="form-label"> Date of birth</label>
            <input type="date" v-model="pet.DateOfBirth" class="form-control" required minlength="3"/>
          </div>

          <div v-if="customerRole()">
            <label class="form-label"> Owner</label>
            <select v-model="pet.OwnerId" class="form-control">
              <option v-for="owner in allOwners" :key="owner.PersonId" :value="owner.PersonId">{{
                  owner.Email
                }}
              </option>
            </select>
          </div>

          <div v-if="authorizationLevel >= 20">
            <button type="submit" class="btn btn-dark">Update</button>
            <button type="button" v-on:click="deletePet" class="btn btn-danger">DELETE PET</button>

            <div v-if="authorizationLevel >= 30">
              <router-link :to="{ name: 'createTreatment', params: {id: pet.PetId} } " active-class="active"
                           tag="button"
                           class="btn btn-dark">Create Treatment
              </router-link>
            </div>
          </div>
        </fieldset>

      </form>

      <div>
        <router-link :to="{ name: 'allTreatments', params: {id: pet.PetId} } " active-class="active" tag="button"
                     class="btn btn-dark">My Treatments
        </router-link>
      </div>
    </div>
    <div v-if="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div v-if="updated" class="alert alert-success">
      {{ updated }}
    </div>
  </div>
</template>
<script>

export default {
  data: () => {
    return {
      authorizationLevel: null,
      pet: null,
      allOwners: null,
      updated: null,
      error: null,

    }
  }, methods: {
    async getPetInfo(id) {
      try {
        const response = await this.$http.get(`/auth/pet/${id}`);
        this.pet = response.data;
      } catch (e) {
        this.errorMessage(e);

      }
    },
    async doUpdate() {
      try {
        await this.$http.post(`/auth/updatePet`, this.pet);
        this.successMessage();
      } catch (e) {
        this.errorMessage(e);
      }
    },
    async deletePet() { //TODO confirm window
      await this.$http.delete(`/auth/pet/${this.pet.PetId}`);
      await this.$router.push({name: "allPets"});
    },
    async getOwners() {
      const response = await this.$http.get('/auth/owners');
      this.allOwners = response.data;
    },
    customerRole() {
      return this.$tokenManager.getPayload()["userRole"] !== "Customers";
    },
    async authorization() {
      this.authorizationLevel = this.$authorization.getLevelOfAuthorization(this.$tokenManager.getPayload()["userRole"]);
      if (this.authorizationLevel < 10)
        await this.$router.push({name: 'home'});
    },
    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    },
    successMessage() {
      this.updated = "Updated";
      setTimeout(() => {
        this.updated = null
      }, 5000);
    },
  }, mounted() {
    this.authorization();
    this.getPetInfo(this.$route.params.id);
    this.getOwners();
  }
}

</script>