<template>
  <div class="container">
    <h3>Profiles: </h3>
    <div class="row">
      <div class="col" v-for="user in users" :key="user.PersonId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">ID: {{ user.PersonId }}</h5>
          <h6 class="card-text">Role: {{ user.disc }}</h6>
          <h6 class="card-text">Email: {{ user.Email }}</h6>
          <h6 class="card-text">Phone: {{ user.PhoneNumber }}</h6>
          <router-link :to="{ name: 'profile', params: { id: user.PersonId } } " active-class="active" tag="button"
                       class="btn btn-dark">Detail
          </router-link>


        </div>
      </div>
    </div>
    <router-link :to="{ name: 'register' } " active-class="active" tag="button" class="btn btn-dark">New profile
    </router-link>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      users: [],
    }
  },
  methods: {
    async loadProfiles() {
      try {
        const response = await this.$http.get('/auth/users');
        this.users = response.data;
      } catch (e) {
        console.error(e);

      }
    },
    async authorization() {
      this.isAuthorized = this.$authorization.authorizationLevel20(this.$tokenManager.getPayload()["userRole"]);
      if (this.isAuthorized === true)
        await this.loadProfiles();
      else await this.$router.push({name: 'home'});
    },
  },

  mounted() {
    this.authorization();
  }
}


</script>

<style></style>