<template>
  <div>
    <br>
    <h3>Login</h3>
    <form @submit.prevent="doLogin" class="reg-form"> <!-- zabraneni refreshu po odeslani -->
      <div>
        <label class="form-label"> Email</label>
        <input type="text" v-model="email" class="form-control"/>
      </div>
      <div>
        <label class="form-label">Password</label>
        <input type="password" v-model="password" class="form-control"/>
      </div>
      <button type="submit" class="btn btn-dark">Login</button>
    </form>

    <div v-if="error" class="alert alert-danger">
      {{ error }}

    </div>

  </div>

</template>

<script>
export default {
  data: () => {
    return {
      email: "",
      password: "",
      error: null,
    }
  },
  methods: {
    async doLogin() {
      this.error = null;
      try {
        const response = await this.$http.post("/login", {Login: this.email, Password: this.password});

        const {token} = response.data;
        this.$tokenManager.setToken(token);
        this.$emit("userLogged", this.$tokenManager.getPayload()); //vytahuje id,... z tokenu
        await this.$router.push({name: "home"});
      } catch (e) {
        this.error = "Wrong credentials";
        console.error(e);
      }
    },
  },

}

</script>

<style>
.reg-form {
  width: 450px;
  margin: auto;
}
</style>