<template>
  <div>
    <div v-if="user !== null">
      <form @submit.prevent="doUpdate" class="reg-form">
        <div class="row">
          <div class="col">
            <label class="form-label"> First name</label>
            <input type="text" v-model="user.FirstName" class="form-control" required minlength="3"/>
          </div>

          <div class="col">
            <label class="form-label"> Last name</label>
            <input type="text" v-model="user.LastName" class="form-control" required minlength="3"/>
          </div>

        </div>
        <div>
          <label class="form-label"> Phone number</label>
          <input type="text" v-model="user.PhoneNumber" class="form-control" required minlength="3"/>
        </div>

        <div>
          <label class="form-label"> Email</label>
          <input type="email" v-model="user.Email" class="form-control" required/>
        </div>


        <div>
          <label class="form-label"> City</label>
          <input type="text" v-model="user.City" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Street</label>
          <input type="text" v-model="user.Street" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Street number</label>
          <input type="text" v-model="user.StreetNumber" class="form-control" required minlength="1"/>
        </div>
        <div>
          <label class="form-label"> Post code</label>
          <input type="text" v-model="user.PostCode" class="form-control" required minlength="3"/>
        </div>
        <div v-if="employeeDetails !== null">
          <div>
            <label class="form-label"> Position</label>
            <input type="text" v-model="employeeDetails.Position" class="form-control" required minlength="3"/>
          </div>
          <div>
            <label class="form-label"> Wage</label>
            <input type="text" v-model="employeeDetails.Wage" class="form-control" required minlength="3"/>
          </div>
          <div>
            <label class="form-label"> Account number</label>
            <input type="text" v-model="employeeDetails.AccountNumber" class="form-control" required minlength="3"/>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-dark">Update</button>
          <router-link v-if="user.disc === 'Customers'" :to="{ name: 'allPets', params: { id: user.PersonId } } "
                       active-class="active" tag="button" class="btn btn-dark">Owned Pets
          </router-link>
          <button type="button" v-on:click="deleteAccount" class="btn btn-danger">DELETE PROFILE</button>
        </div>
      </form>

    </div>
    <div v-if="error" class="alert alert-danger">
      {{ error }}

    </div>
    <div v-if="updated" class="alert alert-success">
      {{ updated }}
    </div>
  </div>

</template>
<script>

export default {
  data: () => {
    return {
      isAuthorized: false,
      user: null,
      employeeDetails: null,
      updated: null,
      error: null,
    }
  }, methods: {
    async getPersonsInfo(id) {
      try {
        const response = await this.$http.get(`/auth/user/${id}`);
        this.user = response.data;
        if (this.user["disc"] !== "Customers")
          await this.getEmployeeDetails(this.user.PersonId, this.user.disc);
      } catch (e) {

        this.errorMessage(e);
      }
    },
    async getEmployeeDetails(id, role) {
      const response = await this.$http.get(`/auth/employeeDetails/${id}/${role}`);
      this.employeeDetails = response.data;
    },

    async doUpdate() {
      try {
        let data = this.user;
        if (data['Role'] !== "Customers") {
          data = Object.assign(data, this.employeeDetails);
        }
        await this.$http.post(`/auth/updateProfile`, data);
        this.successMessage();
      } catch (e) {
        this.errorMessage(e);
      }
    },
    async deleteAccount() { //TODO confirm window
      await this.$http.delete(`/auth/user/${this.user.PersonId}`);
      if (parseInt(this.$tokenManager.getPayload()["userId"]) === parseInt(this.user.PersonId)) {
        this.$emit("logout");
      } else await this.$router.push({name: "home"});
    },

    async authorization() {
      this.isAuthorized = this.$authorization.authorizationLevel10(this.$tokenManager.getPayload()["userRole"]);
      if (!this.isAuthorized) await this.$router.push({name: 'home'});
    }, errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    },
    successMessage() {
      this.updated = "Profile Updated";
      setTimeout(() => {
        this.updated = null
      }, 5000);
    }
  }, mounted() {
    this.authorization();
    this.getPersonsInfo(this.$route.params.id);
  }
}

</script>