<template>
  <div>
    <h3 v-if="tokenRole !== null">Profile registration</h3>
    <h3 v-else>Customer registration</h3>
    <form @submit.prevent="doRegister" class="reg-form"> <!-- zabraneni refreshu po odeslani -->
      <div class="row">
        <div class="col">
          <label class="form-label"> First name</label>
          <input type="text" v-model="newUser.FirstName" class="form-control" required minlength="3"/>
        </div>
        <div class="col">
          <label class="form-label"> Last name</label>
          <input type="text" v-model="newUser.LastName" class="form-control" required minlength="3"/>
        </div>
      </div>
      <div>
        <label class="form-label"> Phone number</label>
        <input type="text" v-model="newUser.PhoneNumber" class="form-control" required minlength="3"/>
      </div>
        <div v-if="tokenRole === 'Administrators'">
        <label class="form-label">Role</label>
        <select v-model="newUser.Role" required>
          <option disabled value="">Please select one</option>
          <option value="Administrators">Administrator</option>
          <option value="Assistants">Assistant</option>
          <option value="Customers">Customer</option>
          <option value="Doctors">Doctor</option>
        </select>
      </div>
      <div>
        <label class="form-label"> Email</label>
        <input type="email" v-model="newLogin.Email" class="form-control" required/>
      </div>
      <div>
        <label class="form-label">Password</label>
        <input type="password" v-model="newLogin.Password" class="form-control" required minlength="3"/>
      </div>

      <div>
        <label class="form-label"> City</label>
        <input type="text" v-model="newAddress.City" class="form-control" required minlength="3"/>
      </div>
      <div>
        <label class="form-label"> Street</label>
        <input type="text" v-model="newAddress.Street" class="form-control" required minlength="3"/>
      </div>
      <div>
        <label class="form-label"> Street number</label>
        <input type="text" v-model="newAddress.StreetNumber" class="form-control" required minlength="1"/>
      </div>
      <div>
        <label class="form-label"> Post code</label>
        <input type="text" v-model="newAddress.PostCode" class="form-control" required minlength="3"/>
      </div>
      <div v-if="newUser.Role === 'Administrators' || newUser.Role === 'Assistants' || newUser.Role === 'Doctors'">
        <div>
          <label class="form-label"> Employee position</label>
          <input type="text" v-model="newEmployeeDetails.Position" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Employee wage</label>
          <input type="text" v-model="newEmployeeDetails.Wage" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Employee account number</label>
          <input type="text" v-model="newEmployeeDetails.AccountNumber" class="form-control" required minlength="3"/>
        </div>

      </div>

      <button type="submit" class="btn btn-dark">Register</button>
    </form>

    <div v-if="error" class="alert alert-danger">
      {{ error }}

    </div>
  </div>


</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      tokenRole: null,
      error: null,
      newUser: {
        FirstName: "",
        LastName: "",
        PhoneNumber: "",
        Role: "",
      },
      newLogin: {
        Email: "",
        Password: "",
      },
      newAddress: {
        City: "",
        Street: "",
        StreetNumber: "",
        PostCode: "",
      },
      newEmployeeDetails: {
        Position: "",
        Wage: "",
        AccountNumber: "",

      },
    }
  },
  methods: {
    async doRegister() { //TODO prevent empty form registration
      try {
        let data = this.newUser;
        data = Object.assign(data, this.newLogin, this.newAddress);


        if (data['role'] !== "Customers"){
          data = Object.assign(data, this.newEmployeeDetails);

        }
        if (this.isAuthorized) {
          const response = await this.$http.post("/auth/register", data);
          await this.$router.push(`/user/${response.data["PersonId"]}`);
        }

        else {
          await this.$http.post("/register", data);
          await this.$router.push({name: "login"});
        }
      } catch (e) {
        this.error = e.response.statusText;
        setTimeout(() => {
          this.error = null
        }, 5000);
      }
    },
    getTokenInfo(){ //header
      if (this.$tokenManager.getPayload() !== null)
        this.tokenRole = this.$tokenManager.getPayload()["userRole"];
    }


  },mounted() {
    this.isAuthorized = this.$authorization.authorizationLevel40(this.$tokenManager.getPayload()["userRole"]);
    this.getTokenInfo();
  }

}

</script>

<style>
.reg-form {
  width: 450px;
  margin: auto;
}
</style>