<template>
  <div class="navbar">
    <router-link v-if="user == null" :to="{name: 'welcome'}" tag="h3">Informační systém</router-link>
    <router-link v-else :to="{name: 'home'}" tag="h3">Informační systém</router-link>
    <div v-if="user != null">
      <div>
        <h2>user ID: {{ user.userId }}</h2>
        <h2>user Role: {{ user.userRole }}</h2>
      </div>
      <div>
        <router-link :to="{ name: 'profile', params: { id: user.userId } } " active-class="active" tag="button"
                     class="btn btn-dark">Edit profile
        </router-link>
        <button v-if="user != null" @click="logout" class="btn btn-light">Logout</button>
      </div>
    </div>
    <div v-else>
      <router-link :to="{name: 'login'}" active-class="active" tag="button" class="btn btn-dark">Login</router-link>
      <router-link :to="{name: 'register'}" active-class="active" tag="button" class="btn btn-light">Register
      </router-link>

    </div>

  </div>
</template>

<script>
export default {
  data: () => {
    return {}
  },
  components: {},
  //props: ["login"], //properties - pro predavani dat mezi komponentami
  props: {
    user: {
      type: Object,
      require: false,
    },
    //logoutFn: Function, //callback fn
    loginFn: Function,
    registerFn: Function,

  },

  methods: {
    logout() {

      this.$emit("logout"); //vytvoreni vlastniho eventu - moznost komunikace s nadrazenou komponentou
    },
  }

}
</script>


<style>
.navbar {
  background: black;
  padding: 10px 40px;
  color: #fff;
  font-weight: 600;
}

</style>