<template>
  <div class="container">
    <h3> Treatments </h3>
    <div class="row">
      <div class="col" v-for="treatment in treatments" :key="treatment.TreatmentId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">ID: {{ treatment.TreatmentId }}</h5>
          <h6 class="card-text">Begin Date: {{ treatment.BeginDate }}</h6>
          <h6 class="card-text">Pet ID: {{ treatment.PetId }}</h6>
          <h6 class="card-text">Active: {{ treatment.Status }}</h6>
          <router-link :to="{ name: 'getTreatment', params: { id: treatment.TreatmentId } } " active-class="active"
                       tag="button"
                       class="btn btn-dark">Detail
          </router-link>
        </div>
      </div>
    </div>
    <div v-if="levelOfAuthorization > 20"> <!-- hidden for customers, assistants -->
      <router-link :to="{ name: 'createTreatment', params: {petId: this.$route.params.petId} } " active-class="active"
                   tag="button" class="btn btn-dark">Create Treatment
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      levelOfAuthorization: null,
      petId: null,
      header: "",
      treatments: [],
    }
  },
  methods: {
    async initialize(id) {
      if (this.$tokenManager.getPayload()["userRole"] === "Customers") {
        this.header = "My Treatments";
        await this.loadOwnersPets();
      } else if (id !== undefined) {
        this.header = "Owner ID: " + id;
        await this.loadOwnersPets(id);
      } else {
        this.header = "All Pets";
        await this.loadAllPets();
      }
    },
    async loadAllTreatments() {
      try {
        const response = await this.$http.get('/auth/treatments');
        this.treatments = response.data;
      } catch (e) {
        console.error(e);
      }
    },
    async loadPetsTreatments(id) {
      try {
        const response = await this.$http.get(`/auth/treatments/${id}`);
        this.treatments = response.data;
      } catch (e) {
        console.error(e);
      }
    },
    async authorization() {
      this.levelOfAuthorization = this.$authorization.getLevelOfAuthorization(this.$tokenManager.getPayload()["userRole"]);
      if (this.levelOfAuthorization < 10)
        await this.$router.push({name: 'home'});
    },
  },
  mounted() {
    this.authorization();

    if (this.$route.params.id === undefined) {
      this.petId = localStorage.getItem("petId");
    } else {
      this.petId = this.$route.params.id;
      localStorage.setItem("petId", this.petId);
    }

    if (this.petId !== null) {
      this.loadPetsTreatments(this.petId);
    } else if (this.levelOfAuthorization > 10)
      this.loadAllTreatments();
  },
  beforeDestroy() {
    localStorage.removeItem("petId");
  }
}


</script>

<style></style>