<template>
  <div>
    <div v-if="isAuthorized">


      <form @submit.prevent="createTreatment" class="reg-form">
        <div>
          <label class="form-label"> Diagnosis</label>
          <textarea rows="3" v-model="treatment.Diagnosis" class="form-control" required minlength="3"/>
        </div>
        <div v-if="emptyPetId">
          <label class="form-label"> Pet ID</label>
          <select v-model="treatment.PetId" class="form-control">
            <option v-for="pet in pets" :key="pet.PetId" :value="pet.PetId">{{ pet.PetId }}</option>
          </select>
        </div>


        <div>
          <label class="form-label"> Price</label>
          <input type="text" v-model="treatment.Price" class="form-control" required/>
        </div>
        <div>
          <label class="form-label"> Next Examination</label>
          <input type="date" v-model="treatment.NextExamination" class="form-control"/>
        </div>
        <div>
          <label class="form-label"> Drug </label>
          <select v-model="drugSpecification.DrugId" class="form-control">
            <option :value="undefined">-none selected-</option>
            <option v-for="drug in drugs" :key="drug.DrugId" :value="drug.DrugId">{{ drug.Name }}</option>
          </select>
        </div>
        <div v-if="drugSpecification.DrugId !== undefined">
          <div>
            <label class="form-label"> Dosage</label>
            <input type="text" v-model="drugSpecification.Dosage" class="form-control"/>
          </div>
          <div>
            <label class="form-label"> Time of use</label>
            <input type="text" v-model="drugSpecification.TimeOfUse" class="form-control"/>
          </div>
          <div>
          </div>

        </div>
        <label class="form-label">Status </label>
        <div class="form-check">
          <div>
            <input type="radio" id="one" value="false" v-model="treatment.Status">
            <label for="one"> Finished</label>
          </div>
          <div>
            <input type="radio" id="two" value="true" v-model="treatment.Status">
            <label for="two"> Ongoing</label>
          </div>
        </div>


        <button type="submit" class="btn btn-dark">Create</button>
      </form>


    </div>

    <div v-if="error" class="alert alert-danger">
      {{ error }}
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      tokenRole: null,
      error: null,
      treatment: {},
      drugSpecification: {},
      pets: null,
      drugs: {},

    }
  }, methods: {
    errorMessage(e) {
      this.error = e;
      setTimeout(() => {
        this.error = null
      }, 5000);
    },
    async createTreatment() {
      try {
        let data = this.treatment;
        if (this.drugSpecification.DrugId !== undefined)
          data = Object.assign(data, this.drugSpecification);

        const response = await this.$http.post('/auth/treatment', data);
        this.treatment = response.data;
        await this.$router.push(`/treatment/${this.treatment.TreatmentId}`);
      } catch (e) {
        this.errorMessage(e);
      }
    },
    emptyPetId() {
      if (this.treatment.petId === undefined) {
        this.loadPetsOptions();
        return true;
      }
      return false;
    },
    async loadPetsOptions() {
      try {
        const response = await this.$http.get('/auth/pets');
        this.pets = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },
    async loadAllDrugs() {
      try {
        const response = await this.$http.get('/auth/drugs');
        this.drugs = response.data;
      } catch (e) {
        console.error(e);
      }
    },
    async authorization() {
      this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
      if (!this.isAuthorized) await this.$router.push({name: 'home'});
    }

  }, beforeMount() {
    this.authorization();

    this.loadAllDrugs();
    this.emptyPetId();

    if (this.$route.params.id === undefined) {
      this.treatment.PetId = localStorage.getItem("petId");
    } else {
      this.treatment.PetId = this.$route.params.id;
      localStorage.setItem("petId", this.treatment.PetId);
    }
    this.treatment.EmployeeId = parseInt(this.$tokenManager.getPayload()["userId"]);
    this.tokenRole = this.$tokenManager.getPayload()["userRole"];

  }, beforeDestroy() {
    localStorage.removeItem("petId");
  }
}


</script>


<style></style>