<template>
  <div>
    <div v-if="levelOfAuthorization >= 10">


      <form @submit.prevent="updateTreatment" class="reg-form">
        <fieldset :disabled="hideForm()"> <!-- read only if finished or customer -->
          <div>
            <label class="form-label"> Diagnosis</label>
            <textarea v-model="treatment.Diagnosis" class="form-control" required minlength="3"/>
          </div>
          <div>
            <label class="form-label"> Price</label>
            <input type="text" v-model="treatment.Price" class="form-control" required/>
          </div>
          <div>
            <label class="form-label"> Next Examination</label>
            <input type="text" v-model="treatment.NextExamination" class="form-control" required/>
          </div>
          <div>
            <label class="form-label"> Drug </label>
            <select v-model="drugSpecification.DrugId" class="form-control">
              <option :value="undefined">-none selected-</option>
              <option v-for="drug in drugs" :key="drug.DrugId" :value="drug.DrugId">{{ drug.Name }}</option>
            </select>
          </div>
          <div v-if="drugSpecification.DrugId != null">
            <div>
              <label class="form-label"> Dosage</label>
              <input type="text" v-model="drugSpecification.Dosage" class="form-control"/>
            </div>
            <div>
              <label class="form-label"> Time of use</label>
              <input type="text" v-model="drugSpecification.TimeOfUse" class="form-control"/>
            </div>
          </div>
          <label class="form-label">Active </label>
          <div class="form-check">
            <div>
              <input type="radio" id="one" value="false" v-model="treatment.Status">
              <label for="one"> Finished</label>
            </div>
            <div>
              <input type="radio" id="two" value="true" v-model="treatment.Status">
              <label for="two"> Ongoing</label>
            </div>
          </div>


          <button :hidden="hideForm()" type="submit" class="btn btn-dark">Update</button>
        </fieldset>
      </form>
    </div>


    <div v-if="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div v-if="updated" class="alert alert-success">
      {{ updated }}
    </div>
  </div>
</template>

<script>
export default {
  components: {},

  data: () => {
    return {
      finished: false,
      levelOfAuthorization: null,
      error: null,
      updated: null,
      treatment: {},
      drugSpecification: {},
      drugs: {},
    }
  }, methods: {
    async loadTreatment(id) {
      try {
        const response = await this.$http.get(`/auth/treatment/${id}`);
        this.treatment = response.data;
        this.finished = this.treatment["Status"];

      } catch (e) {
        this.errorMessage(e);
      }
    },
    async loadDrugSpecification(id) {
      try {
        const response = await this.$http.get(`/auth/drugSpec/${parseInt(id)}`);
        this.drugSpecification = response.data;
      } catch (e) {
        this.errorMessage(e);
      }

    },
    async updateTreatment() {
      try {
        let data = this.treatment;
        if (this.treatment.DrugSpecificationId !== null) { // treatment with prescribed drug
          if (this.drugSpecification.DrugId === undefined) { //drug UNselected
            data.flag = "delete"; //flag for deleting drug specification
            data = Object.assign(data, this.treatment);
            this.drugSpecification = undefined;
          } else { //treatment with prescribed drug and drug selected
            data.flag = "update";
            data = Object.assign(data, this.treatment, this.drugSpecification);
          }

        } else {
          if (this.drugSpecification.DrugId !== undefined) { //treatment WITHOUT prescribed DRUG, DRUG selected
            data.flag = "create"; //create new drug prescription
            data = Object.assign(data, this.drugSpecification); //data for create specification
          } else { //treatment without prescription, no new drug
            data.flag = "withoutDrug";
            //data = Object.assign(data, this.treatment);
          }
        }
        await this.$http.post(`/auth/treatment/${this.treatment["TreatmentId"]}`, data);
        await this.loadTreatment(this.$route.params.id);
        if (this.treatment.DrugSpecificationId !== null)
          await this.loadDrugSpecification(this.treatment.DrugSpecificationId);
        this.successMessage();
      } catch (e) {
        this.errorMessage(e);
      }
    },
    hideForm() {
      if (this.finished === 'false' || this.levelOfAuthorization <= 20) //customers, assistants read only
        return true;
      return false;
    },
    async loadAllDrugs() {
      try {
        const response = await this.$http.get('/auth/drugs');
        this.drugs = response.data;
      } catch (e) {
        console.error(e); //TODO
      }
    },
    async loadSelectedDrug() {
      try {
        this.drugs = await this.$http.get(`/auth/drug/${parseInt(this.drugSpecification["DrugId"])}`);
      } catch (e) {
        console.error(e); //TODO
      }
    },
    async authorization() {
      this.levelOfAuthorization = this.$authorization.getLevelOfAuthorization(this.$tokenManager.getPayload()["userRole"]);
      if (this.levelOfAuthorization < 10)
        await this.$router.push({name: 'home'});
    },
    async initialize() {
      await this.authorization();
      await this.loadTreatment(this.$route.params.id);
      if (this.treatment.DrugSpecificationId != null)
        await this.loadDrugSpecification(this.treatment.DrugSpecificationId);

      if (this.levelOfAuthorization >= 30) await this.loadAllDrugs(); //load drugs for select options if authorized
      else await this.loadSelectedDrug();
    },
    errorMessage(e) {
      this.error = e;
      setTimeout(() => {
        this.error = null
      }, 5000);
    },
    successMessage() {
      this.updated = "Updated";
      setTimeout(() => {
        this.updated = null
      }, 5000);
    }


  }, mounted() {
    this.initialize();

  },
}


</script>


<style></style>