<template>
  <div class="container" v-if="isAuthorized">
    <h3> Slots </h3>
    <div class="row">
      <div class="col" v-for="slot in reservationSlots" :key="slot.ReservationSlotId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">ID: {{ slot.ReservationSlotId }}</h5>
          <h6 class="card-text">Start: {{ slot.Beginning }}</h6>
          <h6 class="card-text">ShiftId: {{ slot.ShiftId }}</h6>
          <h6 class="card-text">Free: {{ slot.Free }}</h6>
          <router-link v-if="slot.Free" :to="{ name: 'createReservation', params: { id: slot.ReservationSlotId } } " active-class="active"
                       tag="button"
                       class="btn btn-dark">Reserve
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      reservationSlots: [],
    }
  },
  methods: {
    async loadAllReservationSlots(id) {
      try {
        const response = await this.$http.get(`/auth/reservationSlotsByDay/${id}`);
        this.reservationSlots = response.data;
      } catch (e) {
        console.error(e);
      }
    },
  },
  beforeMount() {
    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (this.isAuthorized) this.loadAllReservationSlots(this.$route.params.id);
    else this.$router.push({name: 'home'});

    //TODO GROUP SLOTS BY SHIFTS/TIME
  },

}


</script>

<style></style>