<template>
  <div class="container" v-if="isAuthorized">
    <h3> Slots </h3>
    <div class="row">
      <div class="col" v-for="slot in reservationSlots" :key="slot.ReservationSlotId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">ID: {{ slot.ReservationSlotId }}</h5>
          <h6 class="card-text">Start: {{ slot.Beginning }}</h6>
          <h6 class="card-text">Free: {{ slot.Free }}</h6>
          <button type="button" v-on:click="deleteSlot(slot.ReservationSlotId)" class="btn btn-danger">DELETE</button>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      reservationSlots: [],
    }
  },
  methods: {
    async loadAllReservationSlots(id) {
      try {
        const response = await this.$http.get(`/auth/reservationSlotsByShift/${id}`);
        this.reservationSlots = response.data;
      } catch (e) {
        console.error(e);
      }
    },
    async deleteSlot(id) { //TODO confirm window
      await this.$http.delete(`/auth/reservationSlots/${id}`);
      await this.loadAllReservationSlots(this.$route.params.id);
    },
  },
  beforeMount() {
    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (this.isAuthorized) this.loadAllReservationSlots(this.$route.params.id);
    else this.$router.push({name: 'home'});

    //TODO EXTRA
  },

}


</script>

<style></style>