<template>
  <div>
    <div>
      <form @submit.prevent="createReservation" class="reg-form">

        <div>
          <label class="form-label"> Pet</label>
          <select v-model="reservation.PetId" class="form-control">
            <option v-for="pet in pets" :key="pet.PetId" :value="pet.PetId">{{ pet.Name }} {{ pet.OwnerId }}</option>
          </select>
        </div>
        <div>
          <label class="form-label"> Procedure</label>
          <select v-model="reservation.ProcedureId" class="form-control">
            <option v-for="procedure in procedures" :key="procedure.ProcedureId" :value="procedure.ProcedureId">{{ procedure.Procedure }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-dark">Register</button>
      </form>
    </div>
    <div>
      <div v-if="error" class="alert alert-danger">
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      error: null,
      pets: [],
      procedures: [],
      reservation: {
        PetId: "",
        ProcedureId: "",
        ReservationSlotId: "",
      },

    }
  },
  methods: {
    async getProcedures() {
      const response = await this.$http.get('/auth/procedures');
      this.procedures = response.data;
    },

    async getPets() {
      const response = await this.$http.get('/auth/pets');
      this.pets = response.data;
    },

    async createReservation() {
      try {
        const response = await this.$http.post('/auth/reservation', this.reservation);
        this.reservation = response.data;
        await this.$router.push(`/home`); //TODO confirmation + redirect to my reservation
      } catch (e) {
        console.error(e);
      }
    },
    async authorization(role) {
      if (this.$authorization.authorizationLevel20(role)) return true;
      else await this.$router.push({name: 'home'});
    },
    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    }

  },
  mounted() {
    this.authorization(this.$tokenManager.getPayload()["userRole"]); //todo
    this.reservation.ReservationSlotId = this.$route.params.id;
    this.getPets();
    this.getProcedures();

  },

}

</script>

<style></style>