<template>
  <div class="container" v-if="isAuthorized">
    <h3> Shifts </h3>
    <div class="row">
      <div class="col" v-for="drug in drugs" :key="drug.DrugId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">ID: {{ drug.DrugId }}</h5>
          <h6 class="card-text">Name: {{ drug.Name }}</h6>
          <h6 class="card-text">Active Substance: {{ drug.ActiveSubstance }}</h6>
          <router-link :to="{ name: 'getDrug', params: { id: drug.DrugId } } " active-class="active"
                       tag="button"
                       class="btn btn-dark">Detail
          </router-link>
        </div>
      </div>
    </div>
    <div>
      <router-link :to="{ name: 'createDrug', params: {id: this.$route.params.id} } " active-class="active"
                   tag="button" class="btn btn-dark">Create Drug
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      drugs: [],
    }
  },
  methods: {
    async loadAllShifts() {
      try {
        const response = await this.$http.get('/auth/');
        this.drugs = response.data;
      } catch (e) {
        console.error(e);
      }
    },
  },
  beforeMount() {
    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (this.isAuthorized) this.loadAllDrugs();
    else this.$router.push({name: 'home'});

    //TODO EXTRA
  },

}


</script>

<style></style>