<template>
  <div class="container" v-if="isAuthorized">
    <h3> Weeks </h3>
    <div class="row">
      <div class="col" v-for="week in weeks" :key="week.WeekId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">ID: {{ week.WeekId }}</h5>
          <h6 class="card-text">Week number: {{ week.WeekNumber }}</h6>
          <h6 class="card-text">Starts: {{ week.Starts }}</h6>
          <h6 class="card-text">Ends: {{ week.Ends }}</h6>
          <h6 class="card-text">Shifts set: {{ week.Status }}</h6>
          <router-link :to="{ name: 'getWeek', params: { id: week.WeekId } } " active-class="active"
                       tag="button"
                       class="btn btn-dark">Detail
          </router-link>
        </div>
      </div>
    </div>
    <div>
      <button v-on:click="generateNextWeek" class="btn btn-dark">Create next week</button>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      weeks: [],
    }
  },
  methods: {
    async loadAllWeeks() {
      try {
        const response = await this.$http.get('/auth/weeks');
        this.weeks = response.data;
      } catch (e) {
        console.error(e);
      }
    },
    async generateNextWeek() {
      const response = await this.$http.get('/auth/generateNextWeek');
      this.weeks.push(response.data);
      this.weeks.sort((a,b) => {return (a.WeekId < b.WeekId)}); //sort
    },
  },
  beforeMount() {
    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (this.isAuthorized) this.loadAllWeeks();
    else this.$router.push({name: 'home'});
  },

}


</script>

<style></style>