<template>
  <div>
    <div v-if="isAuthorized">
      <form @submit.prevent="createShift" class="reg-form">
        <div>
          <label class="form-label"> Room </label>
          <input type="text" v-model="shift.Room" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Start time </label>
          <input type="time" v-model="shift.Start" class="form-control" required/>
        </div>
        <div>
          <label class="form-label"> End time </label>
          <input type="time" v-model="shift.End" class="form-control" required :min="shift.Start"/>
        </div>

        <div>
          <label class="form-label"> Doctor</label>
          <select v-model="shift.DoctorId" class="form-control">
            <option v-for="doctor in doctors" :key="doctor.PersonId" :value="doctor.PersonId">{{ doctor.FirstName }}
              {{ doctor.LastName }} ({{ doctor.PersonId }})
            </option>
          </select>
        </div>

        <div>
          <label class="form-label"> Assistant</label>
          <select v-model="shift.AssistantId" class="form-control">
            <option v-for="assistant in assistants" :key="assistant.PersonId" :value="assistant.PersonId">
              {{ assistant.FirstName }} {{ assistant.LastName }} ({{ assistant.PersonId }})
            </option>
          </select>
        </div>

        <div>
          <label class="form-label"> Reservations</label>
          <input class="form-check-input" type="checkbox" v-model="isReservable">

        </div>

        <div v-if="isReservable">
          {{ generateReservationSlots() }}
        </div>

        <button type="submit" class="btn btn-dark">Register</button>
      </form>


    </div>
    <div>
      <div v-if="error" class="alert alert-danger">
        {{ error }}

      </div>
      <div v-if="updated" class="alert alert-success">
        {{ updated }}

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      error: null,
      updated: null,
      shift: {
        "Room": "",
        "DoctorId": "",
        "AssistantId": "",
        "Start": "",
        "End": "",
        "DayId": "",
        "ReservationSlots": []

      },
      reservationSlots: [],
      isReservable: false,
      doctors: [],
      assistants: [],


    }
  },
  methods: {
    async createShift() {
      try {
        if (this.isReservable) { //todo
          this.shift.IsReservable = this.isReservable;
          this.shift.ReservationSlots = this.reservationSlots;
        }
        const response = await this.$http.post('/auth/shift', this.shift);
        this.shift = response.data;
        await this.$router.push(`/day/${this.shift.DayId}`);
      } catch (e) {
        this.errorMessage(e);
      }
    },

    async getAllDoctors() {
      try {
        const response = await this.$http.get('/auth/doctors');
        this.doctors = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },

    async getAllAssistants() {
      try {
        const response = await this.$http.get('/auth/assistants');
        this.assistants = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },

    earlierThenEnd(endHour, endMinutes, currentHour, currentMinutes) {
      if (currentHour < endHour) return true;
      if (currentHour === endHour) {
        if (currentMinutes < endMinutes) return true;
      }
      return false;

    },

    generateReservationSlots() {
      let minutes;
      let hours;
      const endHours = this.shift.End.substring(0, this.shift.End.indexOf(":"));
      const endMinutes = this.shift.End.substring(this.shift.End.indexOf(":") + 1);
      let value = this.shift.Start;
      let timeArray = [];
      timeArray.push(this.shift.Start);
      do {
        hours = value.substring(0, value.indexOf(":"));
        minutes = value.substring(value.indexOf(":") + 1);
        minutes = parseInt(minutes) + 20; //TODO LENGTH - CONSTANTS + Backend sync
        if (parseInt(minutes) > 59) {
          minutes = (parseInt(minutes) - 60).toString();
          if (minutes === "0")
            minutes = "00";
          hours = this.increaseHourByOne(hours);
        }
        value = hours.concat(":", minutes);
        if (this.earlierThenEnd(endHours, endMinutes, hours, minutes))
          timeArray.push(value);
      } while (this.earlierThenEnd(endHours, endMinutes, hours, minutes));
      this.reservationSlots = timeArray;
      return this.reservationSlots;
    },

    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    },

    increaseHourByOne(hours) { //zachovat dvojciferný formát (01, 05, 10, 23,...) jinak se z 01 stane 2
      hours = (parseInt(hours) + 1).toString();
      if (hours < 10) hours = "0" + hours;
      return hours;
    }
  },
  beforeMount() {
    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (!this.isAuthorized) this.$router.push({name: 'home'});

    this.shift.DayId = this.$route.params.id;
    this.doctors = this.getAllDoctors();
    this.assistants = this.getAllAssistants();


    //TODO input check
  },

}

</script>

<style></style>