<template>
  <div>

  </div>
</template>

<script>
export default {
  data: () => {
    return {
      error: null,
    }
  },
  methods: {
    async generateNextWeek() {
      const response = await this.$http.get('/auth/generateNextWeek');
      this.allOwners = response.data;
    },

    async authorization(role) {
      if (this.$authorization.authorizationLevel20(role)) return true;
      else await this.$router.push({name: 'home'});
    },
    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    }

  },
  mounted() {
    this.authorization(this.$tokenManager.getPayload()["userRole"]);
    this.generateNextWeek();
    //TODO ASI EXTRA
  }

}

</script>

<style></style>