<template>
  <div>
    <div v-if="isAuthorized">
      <form @submit.prevent="updateDay" class="reg-form">
        <div>
          <label class="form-label"> Day </label>
          <input type="text" v-model="day.Day" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> DayId</label>
          <input type="text" v-model="day.DayId" class="form-control"/>
        </div>
        <div>
          <label class="form-label"> Status </label>
          <input type="text" v-model="day.Status" class="form-control" required minlength="3"/>
        </div>
        <router-link :to="{ name: 'createShift', params: { id: day.DayId } } " active-class="active"
                     tag="button"
                     class="btn btn-dark">Add shift
        </router-link>
        <router-link :to="{ name: 'getWeek', params: { id: day.WeekId } } " active-class="active"
                     tag="button"
                     class="btn btn-dark">Week
        </router-link>
      </form>
    </div>

    <div class="row">
      <div class="col" v-for="shift in day.Shifts" :key="shift.ShiftId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">ID: {{ shift.ShiftId }}</h5>
          <h5 class="card-title">Room: {{ shift.Room }}</h5>
          <h6 class="card-text">Time: {{ shift.Start }} - {{ shift.End }}</h6>
          <h6 class="card-text">Doctor: {{ shift.Doctor.FirstName }} {{ shift.Doctor.LastName }}</h6>
          <h6 class="card-text">Assistant: {{ shift.Assistant.FirstName }} {{ shift.Assistant.LastName }}</h6>
          <router-link :to="{ name: 'getShift', params: { id: shift.ShiftId, day: day.Day } } " active-class="active"
                       tag="button"
                       class="btn btn-dark">Detail
          </router-link>
        </div>
      </div>
    </div>


    <div>

      <div v-if="error" class="alert alert-danger">
        {{ error }}

      </div>
      <div v-if="updated" class="alert alert-success">
        {{ updated }}

      </div>
    </div>


  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      error: null,
      updated: null,
      day: {},
    }
  },
  methods: {
    async updateDay() {
      try {
        await this.$http.post(`/auth/day/${this.day["DayId"]}`, this.day);
        this.successMessage();
      } catch (e) {
        this.errorMessage(e);
      }
    },
    async loadDay(id) {
      try {
        const response = await this.$http.get(`/auth/day/${id}`);
        this.day = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },
    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    },
    successMessage() {
      this.updated = "Updated";
      setTimeout(() => {
        this.updated = null
      }, 5000);
    },

  },
  mounted() {
    //TODO input check

    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (this.isAuthorized)
      this.loadDay(this.$route.params.id);

    else this.$router.push({name: 'home'});

  },

}

</script>

<style></style>