<template>
  <div>
    <div v-if="isAuthorized">
      <form @submit.prevent="updateShift" class="reg-form">
        <div>
          <label class="form-label"> Room </label>
          <input type="text" v-model="shift.Room" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Start time </label>
          <input type="time" v-model="shift.Start" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> End time </label>
          <input type="time" v-model="shift.End" class="form-control" required minlength="3"/>
        </div>

        <div>
          <label class="form-label"> Doctor</label>
          <select v-model="shift.DoctorId" class="form-control">
            <option v-for="doctor in doctors" :key="doctor.PersonId" :value="doctor.PersonId">{{ doctor.FirstName }}
              {{ doctor.LastName }} ({{ doctor.PersonId }})
            </option>
          </select>
        </div>

        <div>
          <label class="form-label"> Assistant</label>
          <select v-model="shift.AssistantId" class="form-control">
            <option v-for="assistant in assistants" :key="assistant.PersonId" :value="assistant.PersonId">
              {{ assistant.FirstName }} {{ assistant.LastName }} ({{ assistant.PersonId }})
            </option>
          </select>
        </div>

        <button type="submit" class="btn btn-dark">Update</button>
        <router-link  :to="{ name: 'getReservationSlotsByShiftId', params: { id: shift.ShiftId } } " active-class="active" tag="button" class="btn btn-dark">Reservation slots
        </router-link>
      </form>
    </div>

    <div>

      <div v-if="error" class="alert alert-danger">
        {{ error }}

      </div>
      <div v-if="updated" class="alert alert-success">
        {{ updated }}

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      error: null,
      updated: null,
      shift: {},
      doctors: {},
      assistants: {},
    }
  },
  methods: {
    async updateShift() {
      try {
        await this.$http.post(`/auth/shift/${this.shift["ShiftId"]}`, this.shift);
        this.successMessage();
      } catch (e) {
        this.errorMessage(e);
      }
    },
    async loadShift(id) {
      try {
        const response = await this.$http.get(`/auth/shift/${id}`);
        this.shift = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },
    async getAllDoctors() {
      try {
        const response = await this.$http.get('/auth/doctors');
        this.doctors = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },

    async getAllAssistants() {
      try {
        const response = await this.$http.get('/auth/assistants');
        this.assistants = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },
    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    },
    successMessage() {
      this.updated = "Updated";
      setTimeout(() => {
        this.updated = null
      }, 5000);
    },

  },
  mounted() {
    //TODO input check

    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (this.isAuthorized)
      this.loadShift(this.$route.params.id);
    else this.$router.push({name: 'home'});
    this.getAllAssistants();
    this.getAllDoctors();

  },

}

</script>

<style></style>