<template>
  <div>
    <div v-if="isAuthorized">
      <form @submit.prevent="updateWeek" class="reg-form">
        <div>
          <label class="form-label"> Week number </label>
          <input type="text" v-model="week.WeekNumber" class="form-control" required minlength="3"/>
        </div>
        <div>
          <label class="form-label"> Start</label>
          <input type="text" v-model="week.Starts" class="form-control"/>
        </div>
        <div>
          <label class="form-label"> End</label>
          <input type="text" v-model="week.Ends" class="form-control"/>
        </div>

      </form>

    </div>



    <div class="row">
      <div class="col" v-for="day in week.Days" :key="day.DayId">
        <div class="card" style="width: 18rem;"></div>
        <div class="card-body">
          <h5 class="card-title">{{ day.Day }}</h5>
          <h5 class="card-title">{{ getDayName(day.Day)}}</h5>
          <h6 class="card-text">Shift set: {{ day.Status }}</h6>
          <h6 class="card-text">ID: {{ day.DayId }}</h6>
          <router-link :to="{ name: 'getDay', params: { id: day.DayId } } " active-class="active"
                       tag="button"
                       class="btn btn-dark">Detail
          </router-link>
          <router-link v-if="day.Status" :to="{ name: 'getReservationSlotsByDayId', params: { id: day.DayId } } " active-class="active"
                       tag="button"
                       class="btn btn-light">Reserve
          </router-link>
        </div>
      </div>
    </div>

    <div>

      <div v-if="error" class="alert alert-danger">
        {{ error }}

      </div>
      <div v-if="updated" class="alert alert-success">
        {{ updated }}

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      isAuthorized: false,
      error: null,
      updated: null,
      week: {},
    }
  },
  methods: {
    getDayName(day) {
      let date = new Date(day);
      return date.toLocaleDateString('en-US', {weekday: 'long'});
    },
    async updateWeek() {
      try {
        await this.$http.post(`/auth/week/${this.week["weekId"]}`, this.week);
        this.successMessage();
      } catch (e) {
        this.errorMessage(e);
      }
    },
    async loadWeek(id) {
      try {
        const response = await this.$http.get(`/auth/week/${id}`);
        this.week = response.data;
      } catch (e) {
        this.errorMessage(e);
      }
    },
    errorMessage(e) {
      this.error = e.response.statusText;
      setTimeout(() => {
        this.error = null
      }, 5000);

    },
    successMessage() {
      this.updated = "Updated";
      setTimeout(() => {
        this.updated = null
      }, 5000);
    },

  },
  mounted() {
    //TODO input check

    this.isAuthorized = this.$authorization.authorizationLevel30(this.$tokenManager.getPayload()["userRole"]);
    if (this.isAuthorized)
      this.loadWeek(this.$route.params.id);
    else this.$router.push({name: 'home'});
  },

}

</script>

<style></style>