<template>
  <div id="app">
    <Navbar :user="user" @logout="onLogout"></Navbar>
    <div>
      <router-view @userLogged="onUserLogged" @logout="onLogout"></router-view>
    </div>

  </div>

</template>

<script>
import Navbar from "./components/Navbar-item"

export default {
  name: 'App',
  components: {
    //name: Component
    Navbar: Navbar,
  },
  data: () => {
    return {
      user: null,
    }
  },
  methods: {
    onLogout() {
      this.user = null;
      this.$tokenManager.logout();
      this.$router.push("/login");
    },
    onUserLogged() {
      this.user = this.$tokenManager.getPayload();
    },
  }, beforeMount() {
    this.user = this.$tokenManager.getPayload();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
