<template>
  <div>
    <div>
      <router-link v-if="levelOfAuthorization >= 20"
                   :to="{name: 'getProfiles'}" active-class="active" tag="button" class="btn btn-dark">Profiles
      </router-link>
      <router-link v-if="levelOfAuthorization >= 10"
                   :to="{name: 'allPets'}" active-class="active" tag="button" class="btn btn-dark">Pets
      </router-link>
      <router-link v-if="levelOfAuthorization >= 20"
                   :to="{name: 'allTreatments'}" active-class="active" tag="button" class="btn btn-dark">Treatments
      </router-link>
      <router-link v-if="levelOfAuthorization >= 30"
                   :to="{name: 'allDrugs'}" active-class="active" tag="button" class="btn btn-dark">Drugs
      </router-link>
      <router-link v-if="levelOfAuthorization >= 10"
                   :to="{name: 'allWeeks'}" active-class="active" tag="button" class="btn btn-dark">Weeks
      </router-link>

    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      levelOfAuthorization: null,
    }
  },
  methods: {},
  mounted() {
    this.levelOfAuthorization = this.$authorization.getLevelOfAuthorization(this.$tokenManager.getPayload()["userRole"]);
  }
}
</script>