<template>
  <div>
    <div>
      {{ notify }}
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      notify: null,
    }
  },
  methods: {
    async getNotifications() {
      const response = await this.$http.get('/notify');
      this.notify = response.data;
    },
  },
  mounted() {
    this.getNotifications();
  }
}
</script>